.image {
  width: 25%; /* L'image occupera 25% de la largeur de son conteneur */
  height: auto; /* La hauteur sera automatiquement ajustée pour conserver le ratio de l'image */
  margin: 15px; /* Ajoute un espacement autour de l'image */
}

#divFooter {
  margin-top: 15px;
  background-color: #46a3ae;
  padding: 15px; /* Ajoute un padding pour le contenu */
  display: grid; /* Utilise une grille pour les éléments */
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes par défaut */
  gap: 1rem; /* Espace entre les éléments */
}

#footer {
  background-image: url("../../assets/slide1.jpg");
}

/* Styles par défaut pour le footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centre les éléments horizontalement */
}

/* Styles pour les écrans jusqu'à 768px */
@media (max-width: 768px) {
  footer {
      flex-direction: column; /* Empile les éléments verticalement */
  }

  .relative {
      width: 100%; /* Prend toute la largeur */
      text-align: center; /* Centre le texte */
      margin-bottom: 1rem; /* Ajoute un espacement en bas */
  }

  #divFooter {
      grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
      gap: 2rem; /* Espace entre les éléments */
  }

  .text-white {
      padding: 0 1rem; /* Réduit le padding pour les petits écrans */
  }
}

/* Styles pour les écrans très petits */
@media (max-width: 480px) {
  #divFooter{
    margin-left: 60px;
  }
  .text-white {
      font-size: 0.875rem; /* Réduit la taille de la police */
  }

  h3 {
      font-size: 1.25rem; /* Ajuste la taille des titres */
  }

  p {
      font-size: 0.875rem; 
  }
}

/* Styles pour les écrans entre 768px et 1024px */
@media (max-width: 768px) and (max-width: 810px) {
  footer {
      flex-direction: row; /* Aligne les éléments horizontalement */
      align-items: center; /* Centre verticalement */
      justify-content: center; /* Centre horizontalement */
      text-align: center; /* Centre le texte */
  }

  .relative {
      flex: 1; /* Prendre une part égale de l'espace */
      display: flex;
      justify-content: center; /* Centre l'image */
  }

  #divFooter {
      flex: 1; /* Prendre une part égale de l'espace */
      padding: 16px; /* Ajoute un peu de padding */
  }

  .text-lg {
      font-size: 1.25rem; /* Augmenter la taille de la police pour la lisibilité */
  }

  .text-2xl {
      font-size: 2rem; /* Augmenter la taille des icônes pour la lisibilité */
  }

  p {
      font-size: 1rem; /* Assurer que le texte soit lisible */
  }
}


@media (max-width : 820px){
  #divFooter{
    margin-right: 60px;
    width: 70%;
  }
}