.image {
    width: 25%; /* L'image occupera la largeur entière de son conteneur */
    height: auto; /* La hauteur sera automatiquement ajustée pour conserver le ratio de l'image */
    margin-right: 15px;
    margin-top: 15px;
  }
  

#divFooter{
    margin-top: 15px;
    background-color: #46a3ae;
    margin-left: 10px;
    margin-right: 30em
    }

  #footer{
    
      background-image: url("../../assets/slide1.jpg");
  }

  a{
    color: black;
  }

 /* Styles par défaut pour le footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styles pour les écrans jusqu'à 768px */
@media (max-width: 768px) {
  footer {
      flex-direction: column; /* Empile les éléments verticalement */
      align-items: center; /* Centre les éléments horizontalement */
  }

  .relative {
      width: 100%; /* Prend toute la largeur */
      text-align: center; /* Centre le texte */
      margin-bottom: 1rem; /* Ajoute un espacement en bas */
  }

  #divFooter {
      grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
      gap: 2rem; /* Espace entre les éléments */
      margin-left: auto;
  }

  .text-white {
      padding: 0 1rem; /* Réduit le padding pour les petits écrans */
  }
}

/* Styles pour les écrans très petits */
@media (max-width: 480px) {
  .text-white {
      font-size: 0.875rem; /* Réduit la taille de la police */
  }

  h3 {
      font-size: 1.25rem; /* Ajuste la taille des titres */
  }

  p {
      font-size: 0.875rem; 
  }
}
